<div class="row center">
    <div class="col-md-6">
        <table class=" table" *ngIf="customersList.length>0">
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Address</th>
                <th>Water bottle rate(20L)</th>
                <th>Dispenser rate</th>
                <th></th>
            </tr>
            <tr *ngFor="let customer of customersList;let i = index">
                <td>{{i+1}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.ratePerBottle}}</td>
                <td>{{customer.rentPerDispenser}}</td>
                <!-- <td><button class="btn btn-danger" (click)="delete(customer._id)">Delete</button></td> -->
                <td><button [routerLink]="['./add-update',customer._id]"
                        routerLinkActive="router-link-active">Edit</button></td>
            </tr>
        </table>
    </div>
</div>