<div class="row">
    <div class="col-md-6">
        <form [formGroup]="customerForm" (ngSubmit)="save()" id="demo">
            <table formGroupName="customerFormGroup">
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" id="name" formControlName="name"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        <input type="text" id="address" formControlName="address"></td>
                </tr>
                <tr>
                    <td>Water bottle rate(20L)</td>
                    <td><input type="number" id="ratePerBottle" formControlName="ratePerBottle"></td>
                </tr>
                <tr>
                    <td>Dispenser rate</td>
                    <td><input type="number" id="rentPerDispenser" formControlName="rentPerDispenser"></td>
                </tr>
            </table>
            <button class="btn btn-success" type="submit">Add</button>
        </form>
    </div>
</div>