<div class="row center">
    <div class="col-md-12 p-4">
        <form [formGroup]="multiInvoiceForm" class="row">
            <!-- <div class="formGroup">
                <label for="startDate">From</label>
                <input type="date" formControlName="startDate">
            </div>
            <div class="formGroup">
                <label for="endDate">Till</label>
                <input type="date" formControlName="endDate">
            </div> -->
            <div class="form-group col-md-6">
                <label for="billingMonth">Billing month</label>
                <input type="month" formControlName="billingMonth" class="form-control"
                    [ngClass]="{'has-error':multiInvoiceForm.get('billingMonth').hasError('required') && multiInvoiceForm.get('billingMonth').touched}">
                <span class="error-message"
                    *ngIf="multiInvoiceForm.get('billingMonth').hasError('required') && multiInvoiceForm.get('billingMonth').touched">
                    <small>This field is required.</small>
                </span>
            </div>
            <div formArrayName="customers" class="col-md-12">
                <table class=" table" *ngIf="multiInvoiceForm.get('customers').controls.length>0">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Water bottle rate(20L)</th>
                        <th>Dispenser rate</th>
                        <th>Bottle consumption</th>
                        <th>No of dispensers</th>
                    </tr>
                    <tr *ngFor="let customer of multiInvoiceForm.get('customers').controls;let i = index"
                        [formGroupName]="i">
                        <td><input type="text" formControlName="name"></td>
                        <td><input type="text" formControlName="address"></td>
                        <td><input type="text" formControlName="ratePerBottle"></td>
                        <td><input type="text" formControlName="rentPerDispenser"></td>
                        <td><input type="number" formControlName="bottleConsumption"
                                [ngClass]="{'has-error':customer.get('bottleConsumption').hasError('required') && customer.get('bottleConsumption').touched}">
                        </td>
                        <td><input type="number" formControlName="noOfDispenser"></td>
                    </tr>
                </table>
            </div>
            <div class="submit">
                <button type="submit" (click)="submit()">Next</button>
            </div>
        </form>
    </div>
</div>